.container{
  position: absolute;
  width: 80vw; 
  height: 60vh; 
  border-radius: 15px;
  left: 50%;
  transform: translate(-50%);
  top: 22vh;
  box-shadow: 5px 5px 20px 5px #888888;
}

.row
{
  padding: 40px;
}
.days{
  display:flex;
  justify-content: space-evenly;
}