.row{
    /* background-image: url(""); */
    background-size: 100%;
    background-repeat: no-repeat; 
    width:150px;
    height: 150px;
    border-radius: 15px;
}

.day_weather{
    display: flex;
    justify-content: space-evenly;
}

.container{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}
.weather_img{
    margin: 0 auto;
    width: 10vw;
    display: block;
}

.days{
    text-align: center;
    font-size: 1.8em;
}

.img{
    margin: 40px auto;
}